name: CI

env:
  VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"
  VCPKG_COMMIT_ID: "120deac3062162151622ca4860575a33844ba10b"

on:
  workflow_dispatch:
    inputs:
      x86_64-linux:
        description: "Build x86_64-unknown-linux-gnu"
        type: boolean
        default: true
      aarch64-linux:
        description: "Build aarch64-unknown-linux-gnu"
        type: boolean
        default: false
      x86_64-windows:
        description: "Build x86_64-pc-windows-msvc"
        type: boolean
        default: false
      i686-windows:
        description: "Build i686-pc-windows-msvc"
        type: boolean
        default: false
      x86_64-macos:
        description: "Build x86_64-apple-darwin"
        type: boolean
        default: false

jobs:
  build-x86_64-linux:
    if: ${{ inputs.x86_64-linux }}
    name: x86_64-unknown-linux-gnu (ubuntu-24.04)
    runs-on: ubuntu-24.04
    env:
      TARGET: x86_64-unknown-linux-gnu
      USE_CROSS: "false"
    steps:
      - name: Export GitHub Actions cache environment variables
        uses: actions/github-script@v6
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install prerequisites
        run: |
          sudo apt-get -y update
          sudo apt-get install -y clang cmake curl gcc git g++ libpam0g-dev libasound2-dev libunwind-dev libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev libgtk-3-dev libpulse-dev libva-dev libvdpau-dev libxcb-randr0-dev libxcb-shape0-dev libxcb-xfixes0-dev libxdo-dev libxfixes-dev nasm wget
      - name: Setup vcpkg with Github Actions binary cache
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: /opt/artifacts/vcpkg
          vcpkgGitCommitId: ${{ env.VCPKG_COMMIT_ID }}
      - name: Cache vcpkg installed packages
        uses: actions/cache@v4
        id: vcpkg-installed-cache
        with:
          path: /opt/artifacts/vcpkg/installed
          key: vcpkg-installed-x64-linux-${{ env.VCPKG_COMMIT_ID }}-${{ hashFiles('vcpkg.json') }}
      - name: Install vcpkg dependencies
        if: steps.vcpkg-installed-cache.outputs.cache-hit != 'true'
        run: $VCPKG_ROOT/vcpkg install --x-install-root="$VCPKG_ROOT/installed"
        shell: bash
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          targets: ${{ env.TARGET }}
      - uses: Swatinem/rust-cache@v2
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          use-cross: ${{ env.USE_CROSS }}
          command: build
          args: --locked --target=${{ env.TARGET }}
      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          use-cross: ${{ env.USE_CROSS }}
          command: test
          args: --locked --target=${{ env.TARGET }} --workspace --no-fail-fast -- --skip test_get_cursor_pos --skip test_get_key_state

  build-aarch64-linux:
    if: ${{ inputs.aarch64-linux }}
    name: aarch64-unknown-linux-gnu (ubuntu-24.04)
    runs-on: ubuntu-24.04
    env:
      TARGET: aarch64-unknown-linux-gnu
      USE_CROSS: "true"
    steps:
      - name: Export GitHub Actions cache environment variables
        uses: actions/github-script@v6
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install prerequisites
        run: |
          sudo apt-get -y update
          sudo apt-get install -y gcc-aarch64-linux-gnu
      - name: Setup vcpkg with Github Actions binary cache
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: /opt/artifacts/vcpkg
          vcpkgGitCommitId: ${{ env.VCPKG_COMMIT_ID }}
      - name: Cache vcpkg installed packages
        uses: actions/cache@v4
        id: vcpkg-installed-cache
        with:
          path: /opt/artifacts/vcpkg/installed
          key: vcpkg-installed-arm64-linux-${{ env.VCPKG_COMMIT_ID }}-${{ hashFiles('vcpkg.json') }}
      - name: Install vcpkg dependencies
        if: steps.vcpkg-installed-cache.outputs.cache-hit != 'true'
        run: $VCPKG_ROOT/vcpkg install --x-install-root="$VCPKG_ROOT/installed"
        shell: bash
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          targets: ${{ env.TARGET }}
      - uses: Swatinem/rust-cache@v2
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          use-cross: ${{ env.USE_CROSS }}
          command: build
          args: --locked --target=${{ env.TARGET }}
      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          use-cross: ${{ env.USE_CROSS }}
          command: test
          args: --locked --target=${{ env.TARGET }} --lib --bin rustdesk


  build-x86_64-windows:
    if: ${{ inputs.x86_64-windows }}
    name: x86_64-pc-windows-msvc (windows-2022)
    runs-on: windows-2022
    env:
      TARGET: x86_64-pc-windows-msvc
      USE_CROSS: "false"
    steps:
      - name: Export GitHub Actions cache environment variables
        uses: actions/github-script@v6
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Setup vcpkg with Github Actions binary cache
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: C:\vcpkg
          vcpkgGitCommitId: ${{ env.VCPKG_COMMIT_ID }}
      - name: Cache vcpkg installed packages
        uses: actions/cache@v4
        id: vcpkg-installed-cache
        with:
          path: C:\vcpkg\installed
          key: vcpkg-installed-x64-windows-${{ env.VCPKG_COMMIT_ID }}-${{ hashFiles('vcpkg.json') }}
      - name: Install vcpkg dependencies
        if: steps.vcpkg-installed-cache.outputs.cache-hit != 'true'
        run: $VCPKG_ROOT/vcpkg install --x-install-root="$VCPKG_ROOT/installed"
        shell: bash
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          targets: ${{ env.TARGET }}
      - uses: Swatinem/rust-cache@v2
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --locked --target=${{ env.TARGET }}
      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --locked --target=${{ env.TARGET }} --workspace --no-fail-fast -- --skip test_get_cursor_pos --skip test_get_key_state

  build-i686-windows:
    if: ${{ inputs.i686-windows }}
    name: i686-pc-windows-msvc (windows-2022)
    runs-on: windows-2022
    env:
      TARGET: i686-pc-windows-msvc
      USE_CROSS: "false"
    steps:
      - name: Export GitHub Actions cache environment variables
        uses: actions/github-script@v6
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Setup vcpkg with Github Actions binary cache
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: C:\vcpkg
          vcpkgGitCommitId: ${{ env.VCPKG_COMMIT_ID }}
      - name: Cache vcpkg installed packages
        uses: actions/cache@v4
        id: vcpkg-installed-cache
        with:
          path: C:\vcpkg\installed
          key: vcpkg-installed-x86-windows-${{ env.VCPKG_COMMIT_ID }}-${{ hashFiles('vcpkg.json') }}
      - name: Install vcpkg dependencies
        if: steps.vcpkg-installed-cache.outputs.cache-hit != 'true'
        run: $VCPKG_ROOT/vcpkg install --x-install-root="$VCPKG_ROOT/installed"
        shell: bash
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          targets: ${{ env.TARGET }}
      - uses: Swatinem/rust-cache@v2
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --locked --target=${{ env.TARGET }}
      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --locked --target=${{ env.TARGET }} --workspace --no-fail-fast -- --skip test_get_cursor_pos --skip test_get_key_state


  build-x86_64-macos:
    if: ${{ inputs.x86_64-macos }}
    name: x86_64-apple-darwin (macos-13)
    runs-on: macos-13
    env:
      TARGET: x86_64-apple-darwin
      USE_CROSS: "false"
    steps:
      - name: Export GitHub Actions cache environment variables
        uses: actions/github-script@v6
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install prerequisites
        run: brew install nasm
      - name: Setup vcpkg with Github Actions binary cache
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgGitCommitId: ${{ env.VCPKG_COMMIT_ID }}
      - name: Cache vcpkg installed packages
        uses: actions/cache@v4
        id: vcpkg-installed-cache
        with:
          path: ${{ env.VCPKG_ROOT }}/installed
          key: vcpkg-installed-x64-osx-${{ env.VCPKG_COMMIT_ID }}-${{ hashFiles('vcpkg.json') }}
      - name: Install vcpkg dependencies
        if: steps.vcpkg-installed-cache.outputs.cache-hit != 'true'
        run: $VCPKG_ROOT/vcpkg install --x-install-root="$VCPKG_ROOT/installed"
        shell: bash
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          targets: ${{ env.TARGET }}
      - uses: Swatinem/rust-cache@v2
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --locked --target=${{ env.TARGET }}
      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --locked --target=${{ env.TARGET }} --workspace --no-fail-fast -- --skip test_get_cursor_pos --skip test_get_key_state
