name: Flutter Tag Build

on:
  workflow_dispatch:
    inputs:
      platform:
        description: "Build platform"
        required: true
        default: "all"
        type: choice
        options:
          - all
          - windows
          - macos
          - linux
          - android
          - ios

jobs:
  run-flutter-tag-build:
    uses: ./.github/workflows/flutter-build.yml
    secrets: inherit
    with:
      upload-artifact: true
      upload-tag: ${{ github.ref_name }}
      platform: ${{ inputs.platform }}